/* The link's styling */
a{
	text-decoration:none;
	color:black;
}
a:hover{
	color:#36f1ed;
}
/* Center the developers name(Anirudh Swaminathan) */
#creator{
	position:relative;
	line-height:12px;
	vertical-align:middle;
}
#scoresL{
	position:relative;
	top:3em;
	left:3.125em;
}
#scoresR{
	position:relative;
	top:2em;
	left:75em;
}