/* The link's styling */
a{
	text-decoration:none;
	color:black;
}
a:hover{
	color:#36f1ed;
}
/* Center the developers name(Anirudh Swaminathan) */
#creator{
	position:absolute;
	line-height:12px;
	vertical-align:middle;
	top:35.25em;
	left:32em;
}
#scoresL{
	position:absolute;
	top:2.3em;
	left:2.125em;
}
#scoresR{
	position:absolute;
	top:2.3em;
	left:75em;
}
canvas{
	top:-1em;
	position:relative;
}